.divs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 30vh; 
  }
  
  #word {
    margin-bottom: 10px; 
  }

#text-center3 {
    margin-top: 90px;

}
.btn8 {
    width: 80%;
    height: 3.5rem;
    
    border: 2px solid #FFC700;
    text-align: center;
    margin-left: 80px;
    margin-top: 20px;
    border-radius: 2rem;
    bottom: 6rem;
    color: #FFC700;
    font-size: large;
    font-weight: 600;
    transition: 0.3s;
   }
   
   .btn8:hover {
    background-color: #FFC700;
    color: #fff;
    font-size: x-large;
   }
   