.divs {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh; 
  }
  
  #word {
    margin-bottom: 10px; 
  }
  
  .btn {
    margin-top: 10px; 
  }