.diva {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 55vh; 
}
.div{
  margin-top: -27px;
}
#word {
  margin-bottom: 10px; 
}

.btn {
  margin-top: 10px; 
}

@media (max-width: 500px) {
  .word{
    margin-bottom: 0px;
  }
}