.container {
    height: 80vh;
    width: 90vh;
    display: flex;
}

.mainbox8{
    margin-top: -20px;

}

.divs {
    margin-top: 100px;
}

.form-control {
    width: 100%;
    margin-top: 20px;
    margin-right: 200px;
}

